<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--configuration sections-->
  <configSections>
    <sectionGroup name="CommerceFramework">
      <section name="Application" type="Mediachase.Commerce.Core.CoreConfiguration,Mediachase.Commerce" />
      <section name="Catalog" type="Mediachase.Commerce.Catalog.CatalogConfiguration,Mediachase.Commerce" />
      <section name="Orders" type="Mediachase.Commerce.Orders.OrderConfiguration,Mediachase.Commerce" />
      <section name="Customers" type="Mediachase.Commerce.Customers.Configuration.CustomerConfiguration,Mediachase.Commerce" />
      <section name="Mediachase.Search" type="Mediachase.Search.SearchConfiguration,Mediachase.Search" />
    </sectionGroup>
    <sectionGroup name="FrameworkProviders">
      <section name="dataService" type="Mediachase.Data.Provider.DataProviderSection, Mediachase.DataProvider" />
      <section name="imageService" type="Mediachase.Commerce.Engine.Images.ImageServiceSection, Mediachase.Commerce" />
    </sectionGroup>
    <sectionGroup name="mediachase.businessFoundation.data" type="Mediachase.BusinessFoundation.Data.Configuration.MediachaseDataSectionGroup, Mediachase.BusinessFoundation.Data">
      <section name="metaClassManager" type="Mediachase.BusinessFoundation.Data.Meta.Management.Configuration.MetaClassManagerSection, Mediachase.BusinessFoundation.Data" />
      <section name="metaObject" type="Mediachase.BusinessFoundation.Data.Meta.Configuration.MetaObjectSection, Mediachase.BusinessFoundation.Data" />
      <section name="businessObject" type="Mediachase.BusinessFoundation.Data.Meta.Configuration.BusinessObjectSection, Mediachase.BusinessFoundation.Data" />
      <section name="businessManager" type="Mediachase.me.Data.Business.Configuration.BusinessManagerSection, Mediachase.BusinessFoundation.Data" />
    </sectionGroup>
    <sectionGroup name="Mediachase.BusinessFoundation">
      <section name="BusinessFoundationSettings" type="Mediachase.BusinessFoundation.Configuration.BusinessFoundationConfigurationSection, Mediachase.BusinessFoundation" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EVRY.One.Varnamo.ItemUpdateUtility.ItemUpdateUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--commerce framework-->
  <CommerceFramework>
    <Mediachase.Search configSource="Configs\Mediachase.Search.config" />
    <Application configSource="Configs\ecf.app.config" />
    <Catalog configSource="Configs\ecf.catalog.config" />
    <Orders configSource="Configs\ecf.order.config" />
    <Customers configSource="Configs\ecf.customer.config" />
  </CommerceFramework>
  <!--framework providers-->
  <FrameworkProviders>
    <dataService defaultProvider="SqlDataProvider">
      <providers>
        <add name="SqlDataProvider" type="Mediachase.Data.Provider.SqlDataProvider, Mediachase.SqlDataProvider" connectionStringName="EcfSqlConnection" applicationName="Bokrondellen (CommerceManager)" />
      </providers>
    </dataService>
    <imageService defaultProvider="HandlerImageProvider">
      <providers>
        <add name="HandlerImageProvider" type="Mediachase.Commerce.Engine.Images.Providers.HandlerImageProvider, Mediachase.Commerce" urlFormatString="~/images/t/{0}.image.ashx" applicationName="Bokrondellen (CommerceManager)" />
      </providers>
    </imageService>
  </FrameworkProviders>
  <!--business foundation-->
  <Mediachase.BusinessFoundation>
    <BusinessFoundationSettings configSource="Configs\baf.config" />
  </Mediachase.BusinessFoundation>
  <!--business foundation data-->
  <mediachase.businessFoundation.data>
    <businessManager configSource="Configs\baf.data.manager.config" />
    <metaObject configSource="Configs\baf.data.metaobject.config" />
  </mediachase.businessFoundation.data>
  <connectionStrings configSource="connectionStrings.config" />
  <applicationSettings>
    <EVRY.One.Varnamo.ItemUpdateUtility.ItemUpdateUtility.Properties.Settings>
      <setting name="MaxRows" serializeAs="String">
        <value>200</value>
      </setting>
    </EVRY.One.Varnamo.ItemUpdateUtility.ItemUpdateUtility.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ApplicationModules" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data.Cache" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Events" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Framework" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Licensing" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Shell" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Website" publicKeyToken="6e58b501b34abce3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.FileUploader" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce" publicKeyToken="6e58b501b34abce3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.MetaDataPlus" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.BusinessFoundation.Data" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Search.Extensions" publicKeyToken="6e58b501b34abce3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Search" publicKeyToken="6e58b501b34abce3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.BusinessFoundation" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Configuration" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.BaseLibrary" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.XForms" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.LinkAnalyzer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Common.Framework" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.446.0" newVersion="7.5.446.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Common.Framework.Impl" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.446.0" newVersion="7.5.446.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.WorkflowFoundation" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Web.WebControls" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Enterprise" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ImageLibrary" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.30930.28736" newVersion="3.0.30930.28736" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Business.Commerce" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.259" newVersion="1.1.0.259" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Common.Gadgets" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.394.2" newVersion="7.5.394.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LitS3" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.8.2.0" newVersion="0.8.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Marketing.Validators" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Plugins.Payment" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Plugins.Shipping" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Workflow.Activities" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Workflow" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.DataProvider" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Library.AmazonProviders" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Search.LuceneSearchProvider" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.SqlDataProvider" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.WebConsoleLib" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.233" newVersion="7.12.0.233" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nsoftware.IBizPay" publicKeyToken="cdc168f89cffe9cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3575.0" newVersion="4.1.3575.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Common.Data" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.446.0" newVersion="7.5.446.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Common.Security" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.446.0" newVersion="7.5.446.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Common.Cache" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.446.0" newVersion="7.5.446.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Implementation" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.13.0.0" newVersion="7.13.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>