<connectionStrings>
  <clear />
  <add name="EcfSqlConnection" connectionString="Data Source=vmosusql2;Initial Catalog=dbBokrondellenCommerce;User ID=dbBokrondellen;Password=Ge$ysdkfegoif7x9;Application Name=Bokrondellen (CommerceManager)" />
  <!--<add name="EcfSqlConnection" connectionString="Data Source=chkwin7.lan;Initial Catalog=dbBokrondellenCommerce;User ID=dbBokrondellen_chkwin7;Password=Ge$ysdkfegoif7x9;Application Name=Bokrondellen (CommerceManager)" />-->
</connectionStrings>