<?xml version="1.0" encoding="utf-8"?>
<Application defaultApplicationName="Bokrondellen (CommerceManager)">
  <Roles>
    <add name="AdminRole" value="Admins" />
    <add name="ManagerUserRole" value="Management Users" />
    <add name="EveryoneRole" value="Everyone" />
    <add name="RegisteredRole" value="Registered" />
  </Roles>
  <Connection connectionStringName="EcfSqlConnection" />
  <Cache enabled="true" appTimeout="0:0:10" />
  <Languages>
    <add key="en-GB" value="English (United Kingdom)" />
    <add key="fr-FR" value="French (France)" />
    <add key="sv-SE" value="Swedish (Sweden)" />
  </Languages>
</Application>