<?xml version="1.0" encoding="utf-8"?>
<Mediachase.Search>
  <Indexers basePath="C:\EPiServer\Sites\Bokrondellen\CommerceManager\App_Data\SearchIndex">
    <!--<add name="catalog" type="Mediachase.Search.Extensions.Indexers.CatalogIndexBuilder, Mediachase.Search.Extensions" />-->
    <add name="catalog" type="Bokrondellen.Search.Solr.CatalogIndexBuilder, Bokrondellen.Search.Solr" />
  </Indexers>
  <SearchProviders defaultProvider="BokrondellenSearchProvider">
    <providers>
      <!--
      Lucene Search Provider - file based search library
      -->
      <!--<add name="LuceneSearchProvider" type="Mediachase.Search.Providers.Lucene.LuceneSearchProvider, Mediachase.Search.LuceneSearchProvider" queryBuilderType="Mediachase.Search.Providers.Lucene.LuceneSearchQueryBuilder, Mediachase.Search.LuceneSearchProvider" storage="C:\EPiServer\Sites\Bokrondellen\CommerceManager\App_Data\SearchIndex" />-->
      <!--<add name="LuceneSearchProvider" type="Bokrondellen.Search.CustomLuceneSearchProvider, Bokrondellen.Search"
           queryBuilderType="Bokrondellen.Search.CustomLuceneSearchQueryBuilder, Bokrondellen.Search"
           storage="C:\EPiServer\Sites\Bokrondellen\CommerceManager\App_Data\SearchIndex" />-->
      <!--<add name="SolrSearchProvider" type="Mediachase.Search.Providers.Solr.SolrSearchProvider,Mediachase.Search.SolrSearchProvider"
        queryBuilderType="Mediachase.Search.Providers.Solr.SolrSearchQueryBuilder, Mediachase.Search.SolrSearchProvider" 
        url="http://localhost:8080/solr" shareCores="false" autoCommit="true" autoCommitCount="10000" />-->
      <add name="BokrondellenSearchProvider"
           type="Bokrondellen.Search.Providers.Solr35.SolrSearchProvider, Bokrondellen.Search"
              queryBuilderType="Mediachase.Search.Providers.Solr35.SolrSearchQueryBuilder, Mediachase.Search.Solr35SearchProvider"
              url="http://localhost:8080/solr"
              shareCores="true"
              facetLocalizedFieldValuesOnly="true"
              commitWithin="10000"
              maximumBatchSize="50" />
    </providers>
  </SearchProviders>
</Mediachase.Search>