<connectionStrings>
  <clear />
  <add name="EcfSqlConnection" connectionString="Data Source=teamintegration.cloudapp.net,1435;Initial Catalog=dbBokrondellenCommerce_Upgrade;Integrated Security=False;User ID=dbBokrondellen_local;Password=Ge$ysdkfegoif7x9;Connect Timeout=10;Application Name=Bokrondellen (CommerceManager)" providerName="System.Data.SqlClient" />
</connectionStrings>
