<bokrondellen.configuration>
  <!-- Artikelnummer, Författare, Titel, Serie, Läsordning, Förlag, Utgivningsdatum, Media/Bandtyp, Distibutör (primär för titeln), Pris -->
  <csvexportfields>
    <add fieldName="id" title="Artikelnr" />
    <add fieldName="forfattare" title="Författare" />
    <add fieldName="titel" title="Titel" />
    <add fieldName="serie" title="Serie" />
    <add fieldName="lasordning" title="Läsordning" />
    <add fieldName="forlag_id" title="Förlag" />
    <add fieldName="utgivningsdatum" title="Utgivningsdatum" />
    <add fieldName="mediatyp" title="Mediatyp" />
    <add fieldName="bandtyp" title="Bandtyp" />
    <add fieldName="distributor_id" title="Distributör" />
    <add fieldName="pris" title="Pris" />
    <add fieldName="fpris" title="F-pris" />
    <add fieldName="lagersaldo" title="Lagersaldo" />
    <add fieldName="lagerstatus" title="Lagerstatus" />
  </csvexportfields>
  <xmlexport>
    <excludedpublishers>
      <add key="3279" value="Bokimporten" />
      <!--<add key="9998" value="Testförlag" />-->
    </excludedpublishers>
  </xmlexport>
  <webservice>
    <settings>
      <add key="valid_time" value="120" />
      <add key="demo" value="true" />
    </settings>
  </webservice>
</bokrondellen.configuration>