<?xml version="1.0"?>
<Customers autoInstall="true">
  <Cache enabled="true" contactCollectionTimeout="0:1:0" contactTimeout="0:1:0" addressCollectionTimeout="0:1:0" addressTimeout="0:1:0" creditCardCollectionTimeout="0:1:0" creditCardTimeout="0:1:0" organizationCollectionTimeout="0:1:0" organizationTimeout="0:1:0"/>
  <Connection connectionStringName="EcfSqlConnection"/>
	<Roles>
		<add name="AdminRole" value="Profile Admins" />
		<add name="ManagerRole" value="Profile Managers" />
		<add name="SchemaManagerRole" value="Profile Schema Managers" />
		<add name="ViewerRole" value="Profile Viewers" />
	</Roles>
</Customers>

