<?xml version="1.0" encoding="utf-8"?>

<!-- A specified FileName will overwrite the dynamic fields  -->
<Generator FilesDirectory="TestData\">
	<!--FileName="CustomerData.xml"-->
	<CustomerGenerator Enabled="True">

		<Organizations>
			<add Name="Customers" ParentName="" />
			<add Name="Quanta" ParentName="Customers" />
			<add Name="Quanta Business" ParentName="Customers" />
			<add Name="Fashionova" ParentName="Customers" />
			<add Name="Employees" ParentName="" />
			<add Name="Marketing" ParentName="Employees" />
			<add Name="Inside Sales" ParentName="Employees" />
			<add Name="Business Intelligence" ParentName="Employees" />
			<add Name="Information Technology" ParentName="Employees" />
		</Organizations>
		<AutoCustomerGenerator>
			<add UserBaseStr="girl" Count="5" MinAge="20" MaxAge="30" Gender="Female" Organization="Quanta" />
			<add UserBaseStr="man" Count="5" MinAge="20" MaxAge="30" Gender="Male" Organization="Quanta" />
			<add UserBaseStr="woman" Count="5" MinAge="40" MaxAge="50" Gender="Female" Organization="Quanta" />
			<add UserBaseStr="business" Count="5" MinAge="40" MaxAge="50" Gender="Male" Organization="Quanta Business" />
		</AutoCustomerGenerator>
	</CustomerGenerator>

	<MarketGenerator Enabled="true">
		<Markets>
			<Market ID="DEFAULT" Name="Default" Description="Default Market" IsActive="true" DefaultLanguage="en"
			        DefaultCurrency="USD">
				<Countries>
					<Country CountryCode="USA" />
				</Countries>
				<Languages>
					<Language LanguageCode="en" />
				</Languages>
				<Currencies>
					<Currency CurrencyCode="USD" />
				</Currencies>
			</Market>
			<Market ID="EUROPE" Name="Europe" Description="" IsActive="true" DefaultLanguage="en" DefaultCurrency="EUR">
				<Countries>
					<Country CountryCode="DEU" />
					<Country CountryCode="FRA" />
					<Country CountryCode="ESP" />
					<Country CountryCode="GBR" />
				</Countries>
				<Languages>
					<Language LanguageCode="en" />
					<Language LanguageCode="de" />
					<Language LanguageCode="fr" />
					<Language LanguageCode="es" />
				</Languages>
				<Currencies>
					<Currency CurrencyCode="EUR" />
					<Currency CurrencyCode="GBP" />
					<Currency CurrencyCode="RUB" />
					<Currency CurrencyCode="USD" />
				</Currencies>
			</Market>
		</Markets>
	</MarketGenerator>

	<StoreGenerator Enabled="true">
		<Stores>
			<Store Code="LOSANGELES" Name="Los Angeles" IsPrimary="false" />
			<Store Code="HIGHLANDSRANCH" Name="HIGH LANDS RANCH" IsPrimary="false" />
			<Store Code="KANSAS1" Name="Kansas Main" IsPrimary="false" />
			<Store Code="KANSAS2" Name="Kansas Cove" IsPrimary="false" />
		</Stores>
	</StoreGenerator>

	<WarehouseGenerator Enabled="true">
		<Warehouses>
			<Warehouse Code="default" Name="Default Warehouse" IsPrimary="true" />
		</Warehouses>
	</WarehouseGenerator>

	<ProductGenerator Enabled="true">
		<Catalog
			CreateNewCatalog="false"
			CatalogName="Appliances"
			DefaultLanguage="en-us"
			DefaultCurrency="USD"
			WeightBase="lbs">
			<!--AdditionalLanguages-->
		</Catalog>

		<CategoriesandProducts>
			<add Name="Refrigerators" ParentName="" CategoryMetaClass="Default_Category_Class" ProductMetaClass="Appliance_Product_Class"
			     VariationMetaClass="Appliance_Variation_Class" ProductCount="0" VariationPerProduct="0" />
			<add Name="Top Freezer" ParentName="Refrigerators" CategoryMetaClass="Default_Category_Class"
			     ProductMetaClass="Appliance_Product_Class" VariationMetaClass="Appliance_Variation_Class" ProductCount="5"
			     VariationPerProduct="5" />
			<add Name="French Door" ParentName="Refrigerators" CategoryMetaClass="Default_Category_Class"
			     ProductMetaClass="Appliance_Product_Class" VariationMetaClass="Appliance_Variation_Class" ProductCount="5"
			     VariationPerProduct="5" />
			<add Name="Side By Side" ParentName="Refrigerators" CategoryMetaClass="Default_Category_Class"
			     ProductMetaClass="Appliance_Product_Class" VariationMetaClass="Appliance_Variation_Class" ProductCount="5"
			     VariationPerProduct="5" />
			<add Name="Washers and Dryers" ParentName="" CategoryMetaClass="Default_Category_Class" ProductMetaClass="Auto1_Product_Class"
			     VariationMetaClass="Appliance_Product_Class" ProductCount="0" VariationPerProduct="0" />
			<add Name="Washers" ParentName="Washers and Dryers" CategoryMetaClass="Default_Category_Class"
			     ProductMetaClass="Appliance_Product_Class" VariationMetaClass="Appliance_Variation_Class" ProductCount="5"
			     VariationPerProduct="5" />
			<add Name="Dryers" ParentName="Washers and Dryers" CategoryMetaClass="Default_Category_Class"
			     ProductMetaClass="Appliance_Product_Class" VariationMetaClass="Appliance_Variation_Class" ProductCount="5"
			     VariationPerProduct="5" />
			<add Name="Washer/Dryer Bundles" ParentName="Washers and Dryers" CategoryMetaClass="Default_Category_Class"
			     ProductMetaClass="Appliance_Product_Class" VariationMetaClass="Appliance_Variation_Class" ProductCount="5"
			     VariationPerProduct="5" />
		</CategoriesandProducts>

		<Prices>
			<VariationPriceProperties MinQuantity="1" MaxQuantity="200" ListPrice="100" Weight="0" />
			<Price MarketId="DEFAULT" MinQuantity="0" UnitPrice="100" CurrencyCode="USD" />
			<Price MarketId="DEFAULT" MinQuantity="10" UnitPrice="80" CurrencyCode="USD" />
			<Price MarketId="EUROPE" MinQuantity="0" UnitPrice="75" CurrencyCode="EUR" />
			<Price MarketId="EUROPE" MinQuantity="10" UnitPrice="60" CurrencyCode="EUR" />
		</Prices>

		<ClassMetaDataGeneration>
			<MetaClass Name="Default_Category_Class" Type="Category" ImageFolder="Kids">
				<MetaFields>
					<Field Name="Category_Description">
						<add
							Value="Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet." />
					</Field>
					<Field Name="Category_Brand">
						<add Value="Brand 1|Brand 2|Brand 3" />
					</Field>
					<Field Name="Product_On_Sale">
						<add Value="Yes|No" />
					</Field>
					<Field Name="Asset_PrimaryImageAddress" IsImage="true">
						<add Value="400x300.png" />
					</Field>
				</MetaFields>
			</MetaClass>

			<MetaClass Name="Appliance_Product_Class" Type="Product" ImageFolder="Kids">
				<MetaFields>
					<Field Name="Product_Model">
						<add Value="Model D|Model E|Model F" />
					</Field>
					<Field Name="Product_Features">
						<add
							Value="Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet." />
					</Field>
					<Field Name="Product_Description">
						<add
							Value="Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet." />
					</Field>
					<Field Name="Product_Brand">
						<add Value="Brand 1|Brand 2|Brand 3" />
					</Field>
					<Field Name="Product_On_Sale">
						<add Value="Yes|No" />
					</Field>
					<Field Name="Asset_PrimaryImageAddress" IsImage="true">
						<add Value="400x300.png|dryer1.jpg|dryer2.jpg|washer1.jpg|washer2.jpg" />
					</Field>
				</MetaFields>
			</MetaClass>

			<MetaClass Name="Appliance_Variation_Class" Type="Variation" ImageFolder="Kids">
				<MetaFields>
					<Field Name="Product_Model">
						<add Value="Model D|Model E|Model F" />
					</Field>
					<Field Name="Product_Features">
						<add
							Value="Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet." />
					</Field>
					<Field Name="Product_Description">
						<add
							Value="Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet." />
					</Field>
					<Field Name="Product_Brand">
						<add Value="Brand 1|Brand 2|Brand 3" />
					</Field>
					<Field Name="Product_On_Sale">
						<add Value="Yes|No" />
					</Field>
					<Field Name="Asset_PrimaryImageAddress" IsImage="true">
						<add Value="400x300.png|dryer1.jpg|dryer2.jpg|washer1.jpg|washer2.jpg " />
					</Field>
				</MetaFields>
			</MetaClass>
		</ClassMetaDataGeneration>
	</ProductGenerator>

	<OrderGenerator Enabled="true"
	                Count="2"
	                UserCount="5">
	</OrderGenerator>

	<PromotionGenerator Enabled="False"
	                    Count="3"
	                    SKUsCount="10">
	</PromotionGenerator>

	<MetafieldGenerator Enabled="False"
	                    Count="2"
	                    MetaClassCount="2">
	</MetafieldGenerator>

</Generator>