<SearchConfig version="1.0">
	<SearchFilters>
		<Filter field="Brand">
			<Descriptions defaultLocale="en-us">
				<Description locale="en-us">Brand</Description>
				<Description locale="de-de">Marke</Description>
				<Description locale="es-es">Marca</Description>
			</Descriptions>
			<Values>
				<SimpleValue key="canon" value="canon">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Canon</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="sony" value="sony">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Sony</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="pentax" value="pentax">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Pentax</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="olympus" value="olympus">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Olympus</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="fuji" value="fuji">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Fuji</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="sandisk" value="sandisk">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Sandisk</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="transcend" value="transcend">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Transcend</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="targus" value="targus">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Targus</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="lexar" value="lexar">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Lexar</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="kingston" value="kingston">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Kingston</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="viking" value="viking">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Viking</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="simpletech" value="simpletech">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Simpletech</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="energizer" value="energizer">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Energizer</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="digipower" value="digipower">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Digipower</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="nikon" value="nikon">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Nikon</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="epson" value="epson">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Epson</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="adobe" value="adobe">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Adobe</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="kodak" value="kodak">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Kodak</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="apple" value="apple">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Apple</Description>
					</Descriptions>
				</SimpleValue>
			</Values>
		</Filter>
		<Filter field="SalePrice">
			<Descriptions defaultLocale="en-us">
				<Description locale="en-us">Price</Description>
				<Description locale="de-de">Preis</Description>
				<Description locale="es-es">Precio</Description>
			</Descriptions>
			<Values>
				<PriceRangeValue key="under-100" currency="USD" upperbound="100">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Under $100</Description>
						<Description locale="de-de">Unter 100€</Description>
					</Descriptions>
				</PriceRangeValue>
				<PriceRangeValue key="100-200" currency="USD" lowerbound="100" upperbound="200" lowerboundincluded="false" upperboundincluded="true">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">$100-$200</Description>
						<Description locale="de-de">100€-200€</Description>
					</Descriptions>
				</PriceRangeValue>
				<PriceRangeValue key="200-600" currency="USD" lowerbound="200" upperbound="600" lowerboundincluded="false" upperboundincluded="true">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">$200-$600</Description>
						<Description locale="de-de">200€-600€</Description>
					</Descriptions>
				</PriceRangeValue>
				<PriceRangeValue key="600-1000" currency="USD" lowerbound="600" upperbound="1000" lowerboundincluded="false" upperboundincluded="true">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">$600-$1000</Description>
						<Description locale="de-de">600€-1000€</Description>
					</Descriptions>
				</PriceRangeValue>
				<PriceRangeValue key="1000-2000" currency="USD" lowerbound="1000" upperbound="2000" lowerboundincluded="false" upperboundincluded="true">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">$1000-$2000</Description>
						<Description locale="de-de">1000€-2000€</Description>
					</Descriptions>
				</PriceRangeValue>
				<PriceRangeValue key="over-2000" currency="USD" lowerbound="2000" lowerboundincluded="false" upperboundincluded="false">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Over $2000</Description>
						<Description locale="de-de">Über 2000€</Description>						
					</Descriptions>
				</PriceRangeValue>
			</Values>
		</Filter>
		<Filter field="DisplaySize">
			<Descriptions defaultLocale="en-us">
				<Description locale="en-us">Display Size</Description>
				<Description locale="de-de">Display-Größe</Description>
				<Description locale="es-es">Tamaño de la pantalla</Description>
			</Descriptions>
			<Values>
				<RangeValue key="under-1.5" upperbound="1.5">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">1.5 in &amp; Under</Description>
						<Description locale="de-de">1.5 in &amp; Under</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="1.5-2.0" lowerbound="1.5" upperbound="2.0">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">1.5 to 2.0</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="over-2.0" lowerbound="2.0">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">2.0 &amp; Up</Description>
					</Descriptions>
				</RangeValue>
			</Values>
		</Filter>
		<Filter field="LensType">
			<Descriptions defaultLocale="en-us">
				<Description locale="en-us">Lense Type</Description>
				<Description locale="de-de">Lense-Typ</Description>				
			</Descriptions>
			<Values>
				<SimpleValue key="lens" value="Zoom lens">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Zoom Lens</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="fixed" value="fixed">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Fixed Lens</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="interchangeable" value="interchangeable">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Interchangeable Lens</Description>
					</Descriptions>
				</SimpleValue>
			</Values>
		</Filter>
		<Filter field="MemoryFormFactor">
			<Descriptions defaultLocale="en-us">
				<Description locale="en-us">Memory Form Factor</Description>
				<Description locale="de-de">Memory Form Factor</Description>
			</Descriptions>
			<Values>
				<SimpleValue key="sd-memory-card" value="sd memory card">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">SD Memory Card</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="built-in" value="built-in">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Built in</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="compactflash" value="compactflash card">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">CompactFlash Card</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="memory-stick" value="memory stick">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Memory Stick</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="rotating" value="rotating">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">Rotating</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="XD-Picture-Card" value="xd-picture card">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">XD-Picture Card</Description>
					</Descriptions>
				</SimpleValue>
				<SimpleValue key="SmartMedia-card" value="smartmedia card">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">SmartMedia card</Description>
					</Descriptions>
				</SimpleValue>
				
			</Values>
		</Filter>
		<Filter field="OpticalZoom">
			<Descriptions defaultLocale="en-us">
				<Description locale="en-us">Optical Zoom</Description>
			</Descriptions>
			<Values>
				<RangeValue key="under-1.9" numeric="true" upperbound="1.9">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">1.9MP &amp; Under</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="2.0-2.9" numeric="true" lowerbound="2.0" upperbound="2.9">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">2.0MP to 2.9MP</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="3.0-3.9" numeric="true" lowerbound="3.0" upperbound="3.9">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">3.0MP to 3.9MP</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="4.0-4.9" numeric="true" lowerbound="4.0" upperbound="4.9">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">4.0MP to 4.9MP</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="5.0-5.9" numeric="true" lowerbound="5.0" upperbound="5.9">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">5.0MP to 5.9MP</Description>
					</Descriptions>
				</RangeValue>
				<RangeValue key="over-6.0" numeric="true" lowerbound="6.0">
					<Descriptions defaultLocale="en-us">
						<Description locale="en-us">6.0MP &amp; Up</Description>
					</Descriptions>
				</RangeValue>
			</Values>
		</Filter>
	</SearchFilters>
</SearchConfig>