<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Bokrondellen.ImportUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="CommerceFramework">
      <section name="Catalog" type="Mediachase.Commerce.Catalog.CatalogConfiguration,Mediachase.Commerce" />
      <section name="AssetManagement" type="Mediachase.Commerce.Assets.AssetConfiguration, Mediachase.Commerce" />
      <section name="Security" type="Mediachase.Commerce.Security.Configuration.SecurityConfigurationSection,Mediachase.Commerce" />
    </sectionGroup>
    <sectionGroup name="FrameworkProviders">
      <section name="dataService" type="Mediachase.Data.Provider.DataProviderSection, Mediachase.DataProvider" />
      <section name="imageService" type="Mediachase.Commerce.Engine.Images.ImageServiceSection, Mediachase.Commerce" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Bokrondellen.ImportUtility.Properties.Settings>
      <setting name="DataFolder" serializeAs="String">
        <value>..\..\DataFiles</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>Bokrondellen (CommerceManager)</value>
      </setting>
      <setting name="ApplicationId" serializeAs="String">
        <value>4B06BF0F-7AC2-492D-AF60-8610CC5957B5</value>
      </setting>
    </Bokrondellen.ImportUtility.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <!--<add name="EcfSqlConnection" connectionString="Data Source=.;Initial Catalog=dbBokrondellenCommerce;User ID=dbBokrondellen_local;Password=Ge$ysdkfegoif7x9;Application Name=Bokrondellen (CommerceManager)" />-->
    <add name="EcfSqlConnection" connectionString="Data Source=teamintegration.cloudapp.net,1435;Initial Catalog=dbBokrondellenCommerce;User ID=dbBokrondellen_local;Password=Ge$ysdkfegoif7x9;Application Name=Bokrondellen (CommerceManager)" />
  </connectionStrings>
  <CommerceFramework>
    <Catalog configSource="Configs\ecf.catalog.config" />
    <AssetManagement configSource="Configs\ecf.asset.config" />
    <!-- Security Configuration -->
    <Security configSource="Configs\ecf.security.config" />
  </CommerceFramework>
  <FrameworkProviders>
    <dataService defaultProvider="SqlDataProvider">
      <providers>
        <add name="SqlDataProvider" type="Mediachase.Data.Provider.SqlDataProvider, Mediachase.SqlDataProvider" connectionStringName="EcfSqlConnection" applicationName="Bokrondellen (CommerceManager)" />
      </providers>
    </dataService>
    <imageService defaultProvider="HandlerImageProvider">
      <providers>
        <add name="HandlerImageProvider" type="Mediachase.Commerce.Engine.Images.Providers.HandlerImageProvider, Mediachase.Commerce" urlFormatString="~/images/t/{0}.image.ashx" applicationName="Bokrondellen (CommerceManager)" />
      </providers>
    </imageService>
  </FrameworkProviders>
  <system.web>
    <membership defaultProvider="CMSMembershipProvider">
      <providers>
        <add connectionStringName="EcfSqlConnection" applicationName="Bokrondellen (CommerceManager)" enablePasswordRetrieval="true" enablePasswordReset="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Clear" passwordStrengthRegularExpression="" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" name="CMSMembershipProvider" type="Mediachase.Commerce.Customers.Profile.Providers.CustomerSqlMembershipProvider, Mediachase.Commerce" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="CMSRoleProvider">
      <providers>
        <add connectionStringName="EcfSqlConnection" applicationName="Bokrondellen (CommerceManager)" name="CMSRoleProvider" type="Mediachase.Commerce.Customers.Profile.Providers.CustomerSqlRoleProvider, Mediachase.Commerce" />
      </providers>
    </roleManager>
  </system.web>
</configuration>